@import "../components/todomvc-common/base.css";

#collaborators {
  position: absolute;
  right: 20px;
  top: 20px;
  float: right;
  margin-right: 25px;
}

#collaborators > img {
  margin-right: 5px;
  height: 30px;
  width: 30px;
  padding-bottom: 5px;
  margin-top: -3px;
  border-radius: 3px;
}

#signinButton {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#loading {
  margin: 130px 0 40px 0;
  text-align: center;
  position: relative;
}


#share {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
  border: 1px solid #3079ed;
  color: #fff;
  font-size: 14px;
  height: 35px;
  vertical-align: middle;
  line-height: 30px;
  font-weight: bold;
  display: inline-block;
  font-family: arial,sans-serif;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  margin-top: -3px;
  min-width: 54px;
  vertical-align: top;
};

#signin {
  background-color: #dd4b39;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.10);
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
  height: 43px;
  line-height: 43px;
  font-weight: bold;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: arial,sans-serif;
  outline: none;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    background: #e74b37;
    cursor: hand;
  }

  span.label {
    font-weight: bold;
  }

  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    padding: 0 30px;
  }

}



