<section ng-controller="CollaboratorsCtrl" id="collaborators">
    <img ng-repeat="collaborator in collaborators | limitTo: 5"
         ng-src="{{collaborator.photoUrl}}"
         alt="{{collaborator.displayName}}"
         title="{{collaborator.displayName}}"
         ng-style="{'background-color': collaborator.color}">
    <button ng-click="share()" id="share">Share</button>
</section>

<section id="todoapp">
    <header id="header">
        <h1>todos</h1>
        <form id="todo-form" ng-submit="addTodo()">
            <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
        </form>
    </header>
    <section id="main" ng-show="todos.length" ng-cloak>
        <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list">
            <li ng-repeat="todo in todos.asArray() | filter:statusFilter" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
                <div class="view">
                    <input class="toggle" type="checkbox" ng-model="todo.completed">
                    <label ng-dblclick="editTodo(todo)">{{todo.title.text}}</label>
                    <button class="destroy" ng-click="removeTodo(todo)"></button>
                </div>
                <form ng-submit="doneEditing(todo)">
                    <input class="edit" ng-model="todo.title.text" collaborative on-blur="doneEditing()" focus="todo == editedTodo">
                </form>
            </li>
        </ul>
    </section>
    <footer id="footer" ng-cloak>
      <span id="todo-count"><strong>{{remainingCount()}}</strong>
        <ng-pluralize count="remainingCount()" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
      </span>
        <ul id="filters">
            <li>
                <a ng-class="{selected: filter == ''} " data-ng-href="#/todos/{{fileId}}/">All</a>
            </li>
            <li>
                <a ng-class="{selected: filter == 'active'}" data-ng-href="#/todos/{{fileId}}/active">Active</a>
            </li>
            <li>
                <a ng-class="{selected: filter == 'completed'}" data-ng-href="#/todos/{{fileId}}/completed">Completed</a>
            </li>
        </ul>
        <button id="undo" ng-click="undo()" ng-show="canUndo()">Undo</button>
        <button id="redo" ng-click="redo()" ng-show="canRedo()">Redo</button>
        <button id="clear-completed" ng-click="clearDoneTodos()" ng-show="remainingCount() < todos.length">Clear completed ({{todos.length - remainingCount()}})</button>
    </footer>
</section>
<footer id="info">
    <p>Double-click to edit a todo</p>
    <p>Based on <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
